<header class="site-header">
  <div class="container flex-items">
    <nav class="navigation">
      <a class="nav-logo-header" href="../index.html"
        >Web<span class="accent-logo-header">Studio</span></a
      >
      <ul class="nav-list-items">
        <li class="nav-list-item">
          <a class="nav-link-header active-link" href="../index.html">Studio</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link-header" href="">Portfolio</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link-header" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <address class="contacts">
      <ul class="list-contacts">
        <li>
          <a class="link-contact" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a class="link-contact" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>

    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="../images/icons.svg#icon-heroicons-solid_menu-mobile"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg class="form-icon-close" width="8" height="8">
          <use href="../images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="nav-list-mobile-menu">
          <li class="nav-item-mobile-menu">
            <a
              class="nav-link-mobile-menu active-link-mobile-menu"
              href="../index.html"
              >Studio</a
            >
          </li>
          <li class="nav-item-mobile-menu">
            <a class="nav-link-mobile-menu" href="">Portfolio</a>
          </li>
          <li class="nav-item-mobile-menu">
            <a class="nav-link-mobile-menu" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="contacts-mobile-menu">
        <ul class="list-contacts-mobile-menu">
          <li class="contacts-item-mobile-menu">
            <a class="link-contact-mobile-menu" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
          <li class="contacts-item-mobile-menu">
            <a class="link-contact-mobile-menu" href="tel:+110001111111"
              >+11 (000) 111-11-11</a
            >
          </li>
        </ul>
      </address>
      <div class="container-icons-mobile-menu">
        <ul class="list-icons-mobile-menu">
          <li class="item-icons-mobile-menu">
            <a class="mobile-menu-link-icon hover-link-icon-menu" href="">
              <svg class="mobile-menu-icons" width="24" height="24">
                <use href="../images/icons.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li class="item-icons-mobile-menu">
            <a class="mobile-menu-link-icon hover-link-icon-menu" href="">
              <svg class="mobile-menu-icons" width="24" height="24">
                <use href="../images/icons.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>
          <li class="item-icons-mobile-menu">
            <a class="mobile-menu-link-icon hover-link-icon-menu" href="">
              <svg class="mobile-menu-icons" width="24" height="24">
                <use href="../images/icons.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li class="item-icons-mobile-menu">
            <a class="mobile-menu-link-icon hover-link-icon-menu" href="">
              <svg class="mobile-menu-icons" width="24" height="24">
                <use href="../images/icons.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
