<section class="section-our-team section">
  <div class="container">
    <h2 class="title-team heading-large">Our Team</h2>

    <ul class="list-person">
      <li class="list-person-card">
        <img
          class="img-mark"
          srcset="
            ../images/mark-guerrero@1x.jpg 1x,
            ../images/mark-guerrero@2x.jpg 2x
          "
          src="../images/mark-guerrero@1x.jpg"
          alt="Product Designer"
          width="264"
          height="260"
        />
        <div class="card-content-team">
          <h3 class="title-team-member">Mark Guerrero</h3>
          <p class="text-team">Product Designer</p>
          <ul class="list-social-icons">
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="list-person-card">
        <img
          class="img-tom"
          srcset="../images/tom-ford@1x.jpg 1x, ../images/tom-ford@2x.jpg 2x"
          src="../images/tom-ford@1x.jpg"
          alt="Frontend Developer"
          width="264"
          height="260"
        />
        <div class="card-content-team">
          <h3 class="title-team-member">Tom Ford</h3>
          <p class="text-team">Frontend Developer</p>
          <ul class="list-social-icons">
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="list-person-card">
        <img
          class="img-camila"
          srcset="
            ../images/camila-garcia@1x.jpg 1x,
            ../images/camila-garcia@2x.jpg 2x
          "
          src="../images/camila-garcia@1x.jpg"
          alt="UI Designer"
          width="264"
          height="260"
        />
        <div class="card-content-team">
          <h3 class="title-team-member">Camilla Garcia</h3>
          <p class="text-team">Marketing</p>
          <ul class="list-social-icons">
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="list-person-card">
        <img
          class="img-daniel"
          srcset="
            ../images/daniel-wilson@1x.jpg 1x,
            ../images/daniel-wilson@2x.jpg 2x
          "
          src="../images/daniel-wilson@1x.jpg"
          alt="Marketing"
          width="264"
          height="260"
        />
        <div class="card-content-team">
          <h3 class="title-team-member">Daniel Wilson</h3>
          <p class="text-team">UI Designer</p>
          <ul class="list-social-icons">
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-instagram-2"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-twitter-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-facebook-1"></use>
                </svg>
              </a>
            </li>
            <li class="item-icons">
              <a class="link-social-icons" href="">
                <svg class="icon social-icons-team" width="16" height="16">
                  <use href="../images/icons.svg#icon-linkedin-1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
