<section class="section-our-portfolio section">
  <div class="container">
    <h2 class="title-portfolio">Our Portfolio</h2>
    <ul class="list-portfolio">
      <li class="item-portfolio">
        <div class="image-portfolio-item">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/desktop-banking-app@1x.jpg 1x,
                /images/desktop-banking-app@2x.jpg 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /images/tablet-banking-app@1x.jpg 1x,
                /images/tablet-banking-app@2x.jpg 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile-banking-app@1x.jpg 1x,
                /images/mobile-banking-app@2x.jpg 2x
              "
            />
            <img
              class="img-banking-app"
              src="/images/mobile-banking-app@1x.jpg"
              alt="Banking App"
            />
          </picture>
          <p class="overlay-content-portfolio">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content-portfolio">
          <h3 class="portfolio-item-title">Banking App</h3>
          <p class="text-portfolio">App</p>
        </div>
      </li>
      <li class="item-portfolio">
        <div class="image-portfolio-item">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/desktop-cashless-payment@1x.jpg 1x,
                /images/desktop-cashless-payment@2x.jpg 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /images/tablet-cashless-payment@1x.jpg 1x,
                /images/tablet-cashless-payment@2x.jpg 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile-cashless-payment@1x.jpg 1x,
                /images/mobile-cashless-payment@2x.jpg 2x
              "
            />
            <img
              class="img-cashless-payment"
              src="/images/mobile-cashless-payment@1x.jpg"
              alt="Cashless Payment"
            />
          </picture>
          <p class="overlay-content-portfolio">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content-portfolio">
          <h3 class="portfolio-item-title">Cashless Payment</h3>
          <p class="text-portfolio">Marketing</p>
        </div>
      </li>
      <li class="item-portfolio">
        <div class="image-portfolio-item">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/desktop-meditation-app@1x.jpg 1x,
                /images/desktop-meditation-app@2x.jpg 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /images/tablet-meditation-app@1x.jpg 1x,
                /images/tablet-meditation-app@2x.jpg 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile-meditation-app@1x.jpg 1x,
                /images/mobile-meditation-app@2x.jpg 2x
              "
            />
            <img
              class="img-meditation-app"
              src="/images/mobile-meditation-app@1x.jpg"
              alt="Meditation App"
            />
          </picture>
          <p class="overlay-content-portfolio">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content-portfolio">
          <h3 class="portfolio-item-title">Meditation App</h3>
          <p class="text-portfolio">App</p>
        </div>
      </li>
      <li class="item-portfolio">
        <div class="image-portfolio-item">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/desktop-taxi-service@1x.jpg 1x,
                /images/desktop-taxi-service@2x.jpg 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /images/tablet-taxi-service@1x.jpg 1x,
                /images/tablet-taxi-service@2x.jpg 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile-taxi-service@1x.jpg 1x,
                /images/mobile-taxi-service@2x.jpg 2x
              "
            />
            <img
              class="img-taxi-service"
              src="/images/mobile-taxi-service@1x.jpg"
              alt="Taxi Service"
            />
          </picture>
          <p class="overlay-content-portfolio">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content-portfolio">
          <h3 class="portfolio-item-title">Taxi Service</h3>
          <p class="text-portfolio">Marketing</p>
        </div>
      </li>
      <li class="item-portfolio">
        <div class="image-portfolio-item">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/desktop-screen-Illustrations@1x.jpg 1x,
                /images/desktop-screen-Illustrations@2x.jpg 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /images/tablet-screen-Illustrations@1x.jpg 1x,
                /images/tablet-screen-Illustrations@2x.jpg 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile-screen-Illustrations@1x.jpg 1x,
                /images/mobile-screen-Illustrations@2x.jpg 2x
              "
            />
            <img
              class="img-screen-illustrations"
              src="/images/mobile-screen-Illustrations@1x.jpg"
              alt="Screen Illustrations"
            />
          </picture>
          <p class="overlay-content-portfolio">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content-portfolio">
          <h3 class="portfolio-item-title">Screen Illustrations</h3>
          <p class="text-portfolio">Design</p>
        </div>
      </li>
      <li class="item-portfolio">
        <div class="image-portfolio-item">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="
                /images/desktop-online-courses@1x.jpg 1x,
                /images/desktop-online-courses@2x.jpg 2x
              "
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                /images/tablet-online-courses@1x.jpg 1x,
                /images/tablet-online-courses@2x.jpg 2x
              "
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                /images/mobile-online-courses@1x.jpg 1x,
                /images/mobile-online-courses@2x.jpg 2x
              "
            />
            <img
              class="img-online-courses"
              src="/images/mobile-online-courses@1x.jpg"
              alt="Online Courses"
            />
          </picture>
          <p class="overlay-content-portfolio">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content-portfolio">
          <h3 class="portfolio-item-title">Online Courses</h3>
          <p class="text-portfolio">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
