/* footer */

.site-footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.nav-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.accent-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.title-icons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.list-social-icons-footer {
  display: flex;
  gap: 16px;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}

.title-input {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.form-input-subscribe {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  margin-bottom: 16px;
  background-color: transparent;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  opacity: 0.3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-subscribe::placeholder {
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

.form-email-button-submit {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-email-button-submit:hover,
.form-email-button-submit:focus {
  background-color: #31d0aa;
}

.form-icon-footer-email {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 0 108px;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
    align-items: baseline;
  }

  .container-logo-footer {
    width: 264px;
  }

  .form-input-subscribe {
    width: 264px;
  }

  .nav-logo-footer {
    text-align: start;
  }

  .title-icons {
    text-align: start;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }

  .title-input {
    text-align: start;
  }

}

@media screen and (min-width: 1158px) {
  .footer-container {
    padding: 0 15px;
    gap: 0;
  }

  .site-footer {
    padding: 100px 0;
  }

  .container-logo-footer {
    margin-right: 120px;
  }


  .container-email-input {
    margin-left: 80px;
  }

  .form-input-subscribe {
    opacity: 1.0;
  }

  .form-input-subscribe::placeholder {
    opacity: 1.0;
  }

  .list-social-icons-footer {
    width: 208px;
  }
}